@model SalesBasket

@if (Model != null && Model.SalesItems.Count() > 0)
{

    <table id="sales-items-table" class="table table-border table-hover" user-id="@Model.UserId">
        <thead>
            <tr>
                <th>Name</th>
                <th class="d-none d-md-table-cell">Prescription</th>
                <th>Price</th>
                <th>Tax (%)</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.SalesItems)
            {
                <tr class="sale-item-row" product-id="@item.ProductId">
                    <td>@item.Product.Name</td>
                    <td class="d-none d-md-table-cell">@item.Product.RequiresPrescription</td>
                    <td>@item.Product.Price</td>
                    <td>21</td>
                    <td>
                        <form method="post" class="btn-form">
                            <input type="hidden" name="UserId" value="Tony">
                            <input type="hidden" name="ProductId" value="@item.ProductId">
                            <input type="hidden" name="UpdateQuantityBy" value="-1">
                            <button type="submit" id="btn-increment-item" class="btn btn-sm rounded-pill p-0">
                                <i class="bi bi-dash-circle"></i>
                            </button>
                        </form>

                        <span>@item.Quantity</span>

                        <form method="post" class="btn-form">
                            <input type="hidden" name="UserId" value="Tony">
                            <input type="hidden" name="ProductId" value="@item.ProductId">
                            <input type="hidden" name="UpdateQuantityBy" value="1">
                            <button type="submit" id="btn-increment-item" class="btn btn-sm rounded-pill p-0">
                                <i class="bi bi-plus-circle"></i>
                            </button>
                        </form>
                    </td>
                    <td>@((item.Product.Price * item.Quantity).ToString("N2"))</td>
                    @* ("#.##0,00") *@
                    <td>
                        <form method="post" class="btn-form">
                            <input type="hidden" name="UserId" value="Tony">
                            <input type="hidden" name="ProductId" value="@item.ProductId">
                            <input type="hidden" name="UpdateQuantityBy" value="-@item.Quantity">
                            <button type="submit" id="btn-increment-item" class="btn btn-sm rounded-pill p-0">
                                <i class="bi bi-x-circle"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }

        </tbody>

        <tfoot>
            <tr>
                <td colspan="4"></td>
                <th>Total amount</th>
                <td colspan="2">
                    @* @Model.SalesItems.Sum(x => x.Product.Price * x.Quantity).ToString("#.##0,00") *@
                    @(string.Format("{0:#,##0.00}", Model.SalesItems.Sum(x => x.Product.Price * x.Quantity)).Replace('.',
                        ','); )
                </td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <p>There are not items on the basket... yet</p>
}

@* <script>
$(document).ready(function () {
$(".btn-form").on("submit", function (e) {
e.preventDefault();

var form = $(this);

$.ajax({
url: `sales/${form.attr('action')}`,
type: form.attr('method'),
data: form.serialize(),
success: function (data) {
$("#sales-items-table").html(data)
},
error: function (xhr, status, error) {
console.error("Error:", error);
}
})
})
})
</script> *@


@* <script>
$(document).ready(function () {
console.log('Script loaded');

// Handle table buttons
$(".sale-item-row").on("click", "#btn-increment-item", function () {
console.log('Button clicked');

var userId = $("#sales-items-table").attr('user-id');
var productId = $(this).closest('tr').attr('product-id');
var updateQuantityBy = $(this).attr("quantity");

var salesViewModel = {
UserId = userId,
ProductId = productId,
UpdateQuantityBy = updateQuantityBy
}

$.ajax({
url: "sales/UpdateSaleItem",
type: "POST",
dataType: "json",
contentType: 'application/json',
data: {
JSON.stringify(salesViewModel)
},
success: function (data) {
console.log("Great success");
},
error: function (xhr, status, error) {
console.error("Error:", error);
}
})
})
}
</script> *@