@model SalesBasket

@if (Model != null && Model.SalesItems.Count() > 0)
{

    <table id="sales-items-table" class="table table-striped table-hover text-center" user-id="@Model.UserId">
        <thead>
            <tr>
                <th>Name</th>
                <th class="d-none d-md-table-cell">Prescription</th>
                <th>Price</th>
                <th>Tax (%)</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.SalesItems)
            {
                <tr class="sale-item-row" product-id="@item.ProductId" style="vertical-align: middle;">
                    <td>@item.Product.Name</td>
                    <td class="d-none d-md-table-cell">@item.Product.RequiresPrescription</td>
                    <td>@item.Product.Price.ToString("N2")</td>
                    <td>21</td>
                    <td>
                        <div class="d-flex justify-content-center gap-2">

                            <form method="post" class="btn-form m-0">
                                <input type="hidden" name="UserId" value="1">
                                <input type="hidden" name="ProductId" value="@item.ProductId">
                                <input type="hidden" name="UpdateQuantityBy" value="-1">
                                <button type="submit" id="btn-increment-item" class="btn btn-sm rounded-pill p-0">
                                    <i class="bi bi-dash-circle"></i>
                                </button>
                            </form>

                            <span class="text-center">@item.Quantity</span>

                            <form method="post" class="btn-form m-0">
                                <input type="hidden" name="UserId" value="1">
                                <input type="hidden" name="ProductId" value="@item.ProductId">
                                <input type="hidden" name="UpdateQuantityBy" value="1">
                                <button type="submit" id="btn-increment-item" class="btn btn-sm rounded-pill p-0">
                                    <i class="bi bi-plus-circle"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                    <td>@((item.Product.Price * item.Quantity).ToString("N2"))</td>
                    <td>
                        <form method="post" class="btn-form">
                            <input type="hidden" name="UserId" value="1">
                            <input type="hidden" name="ProductId" value="@item.ProductId">
                            <input type="hidden" name="UpdateQuantityBy" value="-@item.Quantity">
                            <button type="submit" id="btn-increment-item" class="btn btn-sm rounded-pill p-0">
                                <i class="bi bi-x-circle"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }

        </tbody>

        <tfoot>
            <tr>
                <td colspan="4"></td>
                <th>Total amount</th>
                <td colspan="2">
                    @Model.SalesItems.Sum(x => x.Product.Price * x.Quantity).ToString("N2")
                </td>
            </tr>
        </tfoot>
    </table>

    @* Buttons *@
    <div class="d-flex justify-content-around my-2">
        <form asp-controller="transactions" asp-action="CreateTransaction">
            <input type="hidden" name="basketId" value="@Model.Id">
            <button type="submit" class="btn btn-primary rounded-pill"
                style="background-color: #008980; width: 140px">Concluir</button>
        </form>

        <a class="btn btn-danger rounded-pill" asp-controller="sales" asp-action="cancelsale" asp-route-id="@Model.Id"
            style="width: 140px;">
            <i class="bi bi-trash"></i>
            <span style="margin-left: 8px; fs-6">Cancelar</span>
        </a>
    </div>
}
else
{
    <p>No tenes productos por vender, selecciona en la ventana de la izquierda</p>
}
