@model IEnumerable<Product>

@section title {
    <h3 class="my-4">Productos</h3>
    <hr class="my-2">
}

@if (Model != null && Model.Count() > 0)
{
    <table class="table table-hover table-striped my-3">
        <thead>
            <tr>
                <th>Codigo SKU</th>
                <th class="d-none d-md-table-cell">Nombre</th>
                <th>Precio ($)</th>
                <th>Stock</th>
                <th class="d-none d-md-table-cell">Subcategoria</th>
                <th class="d-none d-md-table-cell">Marca</th>
                <th class="d-none d-md-table-cell">Disponibilidad</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.SKU</td>
                    <td class="d-none d-md-table-cell">@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Stock</td>
                    <td class="d-none d-md-table-cell">@product.Subcategory?.Name</td>
                    <td class="d-none d-md-table-cell">@product.Brand?.Name</td>

                    <td class="d-none d-md-table-cell">@(product.IsAvailable ? "Disponible" : "No disponible")</td>
                    <td>
                        <a class="btn btn-info rounded-pill" asp-controller="products" asp-action="details"
                            asp-route-id="@product.Id" style="width: 100px;">
                            <i class="bi bi-eye"></i>
                            <span style="margin-left: 8px; fs-6">Ver</span>
                        </a>
                    </td>
                    <td class="justify-content-center">
                        <a class="btn btn-danger rounded-pill" asp-controller="categories" asp-action="products"
                            asp-route-id="@product.Id" style="width: 100px;" onclick="return confirmDelete()">
                            <i class="bi bi-trash"></i>
                            <span style="margin-left: 8px; fs-6">Borrar</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<br />
<div class="d-flex flex-row mx-auto align-items-center">
    <a asp-controller="products" asp-route-action="add" type="button" class="btn btn-info text-white rounded-pill"
        style="background-color: #008980; width: 200px">
        <i class="bi bi-plus-lg fs-6"></i>
        <span style="margin-left: 8px; fs-6">Nuevo producto</span>
    </a>
</div>

@section Scripts
{
    <script>
        const confirmDelete = () => {
            return confirm("Este producto sera removido ¿Desea continuar?");
        }
    </script>
}